:root {
  --app-max-width: 1250px;
  --card-corner-height: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: grid;
  /* justify-items: center; */
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.header-container{
  background-color: #006d77;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--app-max-width);
  width: 100%;
  color: white;
}

.content-container{
  background-color: #83c5be;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: var(--app-max-width);
  width: 100%;
  gap: 20px;
}

.book-card {
  position: relative;
  background-color: #eee4e4;
  display: flex;
  flex-direction: column;  
  padding: 30px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba(107, 107, 107, 0.453);
  overflow: hidden;
}

.book-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.book-author {
  font-size: 18px;
  margin-bottom: 10px;
}

.unread {
  background-color: #d57a7a!important;
}

.book-read-status-button {
  position: absolute;
  padding: 2px 5px 5px 5px;
  top: 0;
  left: 0;
  height: var(--card-corner-height);
  background-color: #44c267;
  border-radius: 0 0 10px 0;
  box-shadow: 1px 1px 5px hsl(0deg 0% 0% / 30%);
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.book-read-status-button img {
  filter: opacity(0.6);
}

.book-delete-button {
  position: absolute;
  padding: 2px 5px 5px 5px;
  bottom: 0;
  right: 0;
  height: var(--card-corner-height);
  background-color: hsla(0, 0%, 100%, 60%);
  border-radius: 10px 0 0 0;
  box-shadow: 1px 1px 5px hsl(0deg 0% 0% / 30%);
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.book-delete-button img {
  filter: opacity(0.6);
}

.book-delete-button.mouseover-event {
  background-color: #d57a7a!important;
}

.mouseover-event img{
  filter: invert(1);
}

.book-pages {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 34px;
  height: var(--card-corner-height);
  background-color: hsla(0, 0%, 100%, 60%);
  border-radius: 0 10px 0 0;
  box-shadow: 1px 1px 5px hsl(0deg 0% 0% / 30%);
}

.book-pages-icon {
  position: absolute;
  padding: 3px 3px 7px 7px;
  bottom: 0;
  left: -34px;
  height: var(--card-corner-height);
  min-width: 34px;
  background-color: hsla(0, 0%, 100%, 100%);
  filter: opacity(0.6);
  box-shadow: 1px 1px 5px hsl(0deg 0% 0% / 30%);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 400px;
  padding: 25px;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.modal>p{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form input {
  border: 2px solid rgba(128, 128, 128, 0.287);
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal form button {
  border: none;
  border-radius: 25px;
  padding: 10px 0;
  cursor: pointer;
}

.read-selection {
  display: flex;
  gap: 10px;
}

.read-selection div {

}

.open-modal-button {
  width: auto;
  height: auto;
  background-color: #ffffff00;
  border: none;
}

.close-modal-button {
  width: auto;
  height: auto;
  background-color: #ffffff00;
  border: none;
}

.open-modal-button img,
.close-modal-button img{
  width: 34px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}